.CollapseComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    gap: 10px;
    line-height: 1;

}

.CollapseElement {
    display: flex;
    width: 100%;
    gap: 0;
    flex-direction: column;
    align-items: center;

}


.Button {
    display: flex;
    background-color: #FF6060;
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    text-align: left;
    align-items: center;
    margin-bottom: 0;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
    transition: transform 0.3s ease;

}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(180deg);
    }
  }
.Button span.Open {
    transform: rotate(180deg);
}

.Button span.Close {
    transform: rotate(180deg);
}

.Open,
.Close {
    
    font-size: 30px;
    font-weight: bold;
    
}


.Content {
    display: flex;
    margin: 0;
    text-align: left;
    background-color: #F6F6F6;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;

}

.Content p {
    display: flex;
    max-width: 100%;
    padding: 0px 0 0 15px;
}


.Content ul li {
    list-style: none;
    display: flex;
    max-width: 100%;
    padding-left: 0;
    
    
}

@media screen and (max-width: 1200px) {
    /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
    }
