.CollapseComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    gap: 10px;
    line-height: 1;

}

.CollapseElement {
    display: flex;
    width: 100%;
    gap: 0;
    flex-direction: column;
    align-items: center;

}


.Button {
    display: flex;
    background-color: #FF6060;
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    text-align: left;
    align-items: center;
    margin-bottom: 0;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    transition-property: transform;
    transition-duration: 2000ms;


}



.Open {
    
    padding-bottom: 0;
    font-size: 25px;
    font-weight: 500;
    
}


.Close {

    font-size: 25px;
    font-weight: 500;
    padding-bottom: 0;
}
.Close:active {
    transform: rotate(180deg);
}



.Content {
    display: flex;
    margin: 0;
    text-align: left;
    background-color: #F6F6F6;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    color: black;

}

.Content p {
    display: flex;
    max-width: 100%;
    padding: 0px 0 0 15px;
}

.Content ul {
    padding-inline-start: 40px;
}
.Content ul li {
    list-style: none;
    display: flex;
    max-width: 100%;
    padding-left: 0;


}

/* media less than 1024px like tablets, phone*/
@media screen and (max-width: 1024px) {

    .CollapseComponent {
        display: flex;
        width: 100%;
    }

    .Button {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .Close, .Open {
        padding-bottom: 0;
    }

    .Open,
    .Close {

        font-size: 26px;
        font-weight: 500;

    }

    .Content p {
        font-size: 14px;
    }

    .Content ul {
        padding-inline-start: 20px;
    }
    .Content ul li {
        font-size: 14px;
    }
}