footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.FooterLogo {
    display: flex;
    width: 10%;
  }

.FooterText {
    display: flex;
}