header {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: fit-content;
    gap: 25%;
    flex-grow: 4;
    justify-content: first baseline;
}

header nav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    flex-grow:2;
}

header nav ul {
    list-style-type: none;
    padding:0;
    display: inline-flex;
}

header nav ul li {
    padding-left: 1em;
    font-size: 1.5em;
}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

header img {
    width: 60%;
    max-height:min-content;
    color: red;
    flex-grow: 2;
    justify-content: flex-start;
}


