.Rating {
    display:flex;
    font-size: 40px;
    color: #FF6060;
    border: none;
    
    

    
}
.emptyStar {
    color: #E3E3E3;
}

.filledStar {
    color: #FF6060;
}


/* media less than 1024px like tablets, phone*/
@media screen and (max-width: 1024px) {
    .Rating {
        display:inline-flex;
        font-size: 20px;
        margin-bottom: 20px;
}