.Location {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ImgLocation {
    width: 100%;
    height: 223px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ImgLocation img {

    height: 100%;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
}
.LocationTitle {
    display: flex;
    gap:10%;
}
.LocationTitle h2 {
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    text-align: left;
    display: inline-flex;
    justify-content: flex-start;
}
.LocationTitle p {
    color: black;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    display: flex;
    justify-items: flex-start;
}

.LocationHost {
    display:inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: first baseline;
    color:#FF6060;
    font-size: 18px;
    width: 15%;
}
.LocationHost img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: inline-flex;
    
   
}
.DescriptionLocation {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 150px;
    width: 100%;
}

.Collapse {
    display: flex;
    gap:0;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.Collapse button {
    display: flex;
    background-color: #FF6060;
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
}

.Collapse p {
    display: flex;
    text-align: left;
    background-color: #F6F6F6;
    padding:20px 20px 10px ;
    /*display: none;*/
    overflow: hidden;
    border-radius: 5px;
    margin-top: 0;
}


.Collapse ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #F6F6F6;
    border-radius: 0 0 5px 5px;
    padding:20px 20px 10px ;
    /*display: none;*/
    overflow: hidden;
    margin-top: 0;
    list-style: none;
}
