.Location {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ImgLocation {
    width: 100%;
    height: 223px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ImgLocation img {

    height: 100%;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
}
.LocationTitle {
    display: flex;
    gap:10%;
    flex-direction: column;
}
.LocationTitle h2 {
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}
.LocationTitle p {
    color: black;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.TagsLocation {
  text-align: left;
  display: inline-flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.TagsLocation span {
    background-color: #FF6060;
    color: #F6F6F6;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    font-size:14px;
    font-weight: 600;
}

.LocationHost {
    display:inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: first baseline;
    color:#FF6060;
    font-size: 18px;
    width: 15%;
}
.LocationHost img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: inline-flex;
    
   
}
.DescriptionLocation {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 150px;
    width: 100%;
}


