#root {
  max-width: 1440px;
  margin: 0 auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



/* media less than 1024px like tablets, phone*/

@media (max-width: 1024px) {
  /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
  #root {
    max-width: 1024px;
    margin: 0 auto;
  }
  }